<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tablet.splitqs"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="21"
        android:targetSdkVersion="34"/>

    <application
        android:label="Tablet Split QS"
        android:hasCode="true">

        <meta-data
            android:name="xposedmodule"
            android:value="true"/>

        <meta-data
            android:name="xposeddescription"
            android:value="Tablet UI style split QS-notification panel in landscape mode."/>

        <meta-data
            android:name="xposedminversion"
            android:value="93"/>

        <meta-data
            android:name="xposedscope"
            android:value="com.android.systemui"/>

    </application>

</manifest>
